.rating{
    position: fixed;
    top: 140px;
    background: #bce4e9e6;
    border: 2px solid #5a8ec9;
    border-radius: 12px;
    width: 700px;
    height: 400px;
    padding: 20px;
}
.rating-block{
    max-width: 100%;
}
.rating-items-block{
    overflow-y: auto;
    max-height: 360px;
    margin: 15px 5px 5px;
}
.rating-item{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    margin: 7px;
}