.rating{
    position: fixed;
    top: 140px;
    background: white;
    border: 2px solid #212169;
    border-radius: 12px;
    width: 700px;
    height: 400px;
    padding: 20px;
    color: #212169;
}
.rating-block{
    max-width: 100%;
}
.rating-items-block{
    height: 320px;
    margin: 15px 5px 5px;
}
.rating-item{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    margin: 7px;
}
.rating-pagination-block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.rating-page-numb{
    color: black;
    font-size: 24px;
}
.left-arrow{
    width: 30px;
    display: block;
}
.right-arrow{
    width: 30px;
    display: block;
}
.non-visible{
    display: none;
}